<mat-toolbar color="primary" class="desktop_only">
  <div>
    <img src="../../../assets/img/GeppettoSoftware.png" />
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <a class="btn btn-secondary" *ngIf="hideElement"
        [routerLink]="['/login']">SignIn</a>
      <a class="btn btn-secondary" *ngIf="!hideElement"
        [routerLink]="['/project']">{{'project' | i18next}}</a>
      <div class="dropdown" *ngIf='permission =="true" '>
        <button class="btn btn-secondary dropdown-toggle" type="button"
          id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Administrator
        </button>
        <div class="dropdown-menu pull-right">
          <a class="dropdown-item" routerLink="/flow-manager">{{'flowManager' |
            i18next}}</a>
          <a class="dropdown-item" *ngIf='configfields =="true" '
            routerLink="/config-manager">Configuration</a>
          <a class="dropdown-item" *ngIf='configfields =="true" '
            routerLink="/admin">Dashboard</a>
          <a class="dropdown-item" routerLink="/available-connector">Available
            Connector</a>
        </div>
      </div>
      <div class="btn-group drop-btn">
        <button type="button" class="btn btn-danger dropdown-toggle btn-design"
          data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select Language
        </button>
        <div class="dropdown-menu">
          <option *ngFor="let lang of languages" (click)='confirmLangModel(lang)'>{{
            '_languages.' + lang |
            i18nextCap }}</option>
        </div>
      </div>
      <div>
        <button class="btn btn-secondary" (click)="showAbout()" type="button">About</button>
      </div>
      <div>
        <button class="btn btn-secondary" *ngIf="!hideElement"
          (click)="Logout()" type="button">Logout</button>
      </div>
    </ul>
  </div>
</mat-toolbar>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top':
  '100px','display':displayAboutModel}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">About</h6>
      </div>
      <div class="modal-body">
        <p>Version: {{versionData.value}}</p>
        <p>Build Version: {{buildVersionData.value}}</p>
        <p>Build Date: {{buildVersionDate.value | date: 'MMM d, y, h:mm:ss
          a'}}</p>
      </div>
      <div class="modal-footer" style="padding: 5px;justify-content:
        space-evenly;">
        <button type="button" (click)="hideAbout()" class="btn btn-default">{{
          'close' | i18next }}</button>
      </div>
    </div>
  </div>
</div>


<div class="mobile_only">
  <div id="myNav" class="overlay">
      <img class="header_img1" src="/assets/img/skin/logo-geppetto.svg" />
    <a href="javascript:void(0)" class="closebtn" (click)='closeNav()'>&times;</a>
    <div class="overlay-content">
        <a class="btn btn-secondary" *ngIf="hideElement"
        [routerLink]="['/login']" (click)='closeNav()'>SignIn</a>
        <a class="btn btn-secondary" *ngIf="!hideElement"
        [routerLink]="['/project']" >{{'project' | i18next}}</a>
        <div class="dropdown" *ngIf='permission =="true" '>
            <button class="btn btn-secondary dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Administrator
            </button>
            <div class="dropdown-menu pull-right">
              <a class="dropdown-item" routerLink="/flow-manager" (click)='closeNav()'>{{'flowManager' |
                i18next}}</a>
              <a class="dropdown-item" *ngIf='configfields =="true" '
                routerLink="/config-manager" (click)='closeNav()'>Configuration</a>
              <a class="dropdown-item" *ngIf='configfields =="true" '
                routerLink="/admin" (click)='closeNav()'>Dashboard</a>
              <a class="dropdown-item" routerLink="/available-connector" (click)='closeNav()'>Available
                Connector</a>
            </div>
          </div>
          <div class="btn-group drop-btn">
              <button type="button" class="btn btn-danger dropdown-toggle btn-design"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Select Language
              </button>
              <div class="dropdown-menu">
                <option *ngFor="let lang of languages" (click)='confirmLangModel(lang)'>{{
                  '_languages.' + lang |
                  i18nextCap }}</option>
              </div>
            </div>
            <div>
              <button class="btn btn-secondary" (click)="showAbout()" type="button">About</button>
            </div>
            <div>
              <button class="btn btn-secondary" *ngIf="!hideElement"
                (click)="Logout()" type="button">Logout</button>
            </div>
      <!-- <a href="#">Clients</a>
      <a href="#">Contact</a> -->
    </div>
  </div>
  <div class="container">
    <div class="row m_header">
      <div class="col">
        <img class="header_img" src="/assets/img/skin/logo-geppetto.svg" />
      </div>
      <div class="col menu_btn">
        <span style="font-size:30px;cursor:pointer" (click)='openNav()'>&#9776;</span>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display': confirmLangChangeModal}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h6 class="modal-title">Delete</h6>
        <button type="button" class="close">&times;</button>
      </div> -->
      <div class="modal-body">
        <p>Language change cause you to re-login</p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" (click)="confirmLangChange()" class="btn btn-default">Confirm</button>
        <button type="button" (click)="onCloseHandled()" class="btn btn-default">{{ 'cancel' | i18next }}</button>
      </div>
    </div>

  </div>
</div>
