.addRowButton {
    background-color: #033668;
    border-bottom: 3px solid #033668;
    color: white;
    // padding: 15px 32px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.addRowButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #39a521;
    border-bottom: 3px solid #2d831a; 
}

.bottomButtons {
    float: right;
}
.component_top{
 margin-bottom: 10%;
}

// .modal-dialog {
//     width: auto;
//     max-width: 960px; // Optional, maximum width
//   }
