<!-- <footer class="section footer-classic context-dark bg-image mainDiv">
  <div class="container_new">
    <div class="row top_align">
      <div class='col-lg-6 div_right_border col-md-12 col-sm-12 medium_device'>
        <h5>Contacts</h5>
        <hr/>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 ">
            <div class="div_border">
              <dt>Address:</dt>
              <dl class="contact-list">
                <dd>798 South Park Avenue, Orlando</dd>
              </dl>
            </div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="div_border">
              <dt>email:</dt>
              <dl class="contact-list">
                <dd><a href="mailto:#">dan.castillo@geppettosoftware.com</a></dd>
              </dl>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="div_border">
              <dt>phone:</dt>
              <dl class="contact-list">
                <dd><a href="tel:#">+91 7568543012</a>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-12 col-sm-12 medium_device'>
        <h5>Links</h5>
       
          <hr/>
         
            <div class="row nav-list">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="div_border">
                  <br/>
                    <p class="ispoint"><a>About</a></p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="div_border">
                    <br/>
                      <p class="ispoint"><a>Projects</a></p>
                    </div>
                  </div>
                 
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="div_border">
                      <br/>
                        <p class="ispoint"><a>Contacts</a></p>
                      </div>
                    </div>
                   
              </div>
            </div>
          </div>

        </div>
        <hr/>
          <div class="line_height">
            <p>We are an award-winning creative agency, dedicated to the best
              result in web design, promotion, business consulting, and
              marketing.© 2019 Waves </p><br/>
              <p>All Rights Reserved by Geppetto Software.</p>
            </div>
          </footer> -->
<footer class="section footer-classic context-dark bg-image mainDiv">
  <div class="container">
    <div class="row top_row">
      <div class="col mobile_view">
        <!-- Geppetto -->
        <div>
          <img class="footer_img" src="/assets/img/skin/logo-geppetto.svg" />
        </div>
        <div>
          <p>We are an award-winning creative agency, dedicated to the best
            result in web design, promotion, business consulting, and
            marketing.© 2019 -2021 All Rights Reserved by Newportbay LLC.</p>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col m_address">
            <h5>Contacts Us</h5>
            <div>
              <dd> <b>Address: </b>151 N Maitland AVE STE 941096
                Maitland, FL 32751-5515</dd>
              <dd><b>Email: </b><a>info@geppettosoftware.com</a></dd>
              <dd><b>Phone: </b><a>001 (863) 888-0152</a></dd>
            </div>
          </div>
          <div class="col">
            <h5>Links:</h5>
            <div>
              <ul>
                <li><a>About</a></li>
                <li><a>Projects</a></li>
                <li><a>Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>