.cardsize{
    max-width: 40em;
    text-align: center;
    height: 16em;
    left: 33em;
    margin-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 8em;
    background: grey;
}
.cardcontent{
    margin-top: 70px !important;
}