// Main SASS file for reskin implementation

// Font including
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i);


// Globals
body {
	font-family: $font_main;
}


// ======= APP CONTAINER ======= 
// body {
// 	@include virtual-footer;
// }
// ======= HEADER ======= 
div.lang-head {
	@include container-topBar;
}

app-header > mat-toolbar.mat-toolbar.mat-primary[_ngcontent-c2] {
	@include container-header;

	div[_ngcontent-c2]:first-child {
		@include header-logo();
	}

	@include main-navigation;
}

// ======= HOME PAGE ======= 
div.geppetoimage1[_ngcontent-c4] {
	@include container-home-main;
}

div.geppetoimage[_ngcontent-c4] {
	width: 100%;
}

app-homepage div.center {
  background-image: url(assets/img/skin/banner_home.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 400px;
  background-size: 50% auto;
}

app-homepage div.center img {
  visibility: hidden
}

// Version 2, due to markup changes
app-homepage >.div_height {
  min-height: 67vh;
}

app-homepage div.bg_img.bg_img {
  background-image: url(assets/img/skin/banner_home.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 360px;
  background-size: 100% auto;
  background-attachment: unset;
}


// ======= LOGIN ======= 
app-login {
	> mat-card.cardsize,
	.cardsize[_ngcontent-c4],
	.cardsize[_ngcontent-c5] {
		@include modal-login;
	}
}

// ======= PROJECTS ======= 
app-projects .container {
	@include container-projects-dashboard;
}



