<div class="container top_align">
    <br />
    <h1 style="text-align: center;">Project Components</h1>
    <div class='code'>
        <button class="btn btn-primary float-right btn_color" color="primary" (click)="generateCode()">Code
            Generate</button>
    </div>
    <br />
    <br />
    <br>
    <!-- <button class="btn btn-success mb-sm-3 float-right">Generate</button> -->
    <div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>My Features </mat-panel-title>
                </mat-expansion-panel-header>

                <div style="padding-right: 20px;">
                    <button class="btn btn-primary float-right btn_color" color="primary"
                        (click)="openFeatureDialog()">Add
                        Features</button>
                </div>
                <div class="row" style="margin: 0px;" *ngIf="projectFeatureData.length> 0">
                    <div class="col-md-4" *ngFor="let feature of
                        projectFeatureData; let i= index">

                        <div class="row bottom_padding">
                            <div class="col-md-3">
                                <img class="img_size" src="../../assets/img/feature4.png">
                            </div>
                            <div class="col-md-7">
                                <h5> {{feature.name}}</h5>
                                <p>{{feature.description}}</p>
                                <button class="btn btn-info" [routerLink]="['/feature-details']" [queryParams]="{featureId: feature._id,
                                    projectId: project_id}">View
                                </button>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-header">
                                {{feature.name}}
                            </div>
                            <div class="card-body">
                                <div><span>{{feature.description}}</span></div>
                                <br />
                                <button class="btn btn-info" [routerLink]="['/feature-details']"
                                    [queryParams]="{featureId: feature._id,  projectId: project_id}">View
                                    Details</button>
                                <!-- <button class="btn btn-info ml-sm-3" color="primary" (click)="openModal('create')">Create Flow</button> -->
                        <!-- <button mat-raised-button (click)="openModal('update')">{{ 'update' | i18next }}</button> -->
                        <!-- <button mat-raised-button color="warn" (click)="deleteRow()">{{ 'delete' | i18next }}</button> -->
                        <!-- </div> -->
                        <!-- </div>  -->
                    </div>

                    <div class="col-md-4" *ngIf="projectFeatureData &&
                        projectFeatureData.length === 0">
                        No Feature Available.
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Entities </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="padding-right: 20px;">
                    <button class="createEntityButton btn_color" mat-raised-button color="primary"
                        (click)="saveEntityModel()">Add
                        Entity</button>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col-md-4" *ngFor="let entity of projectEntity;
                        let i= index">

                        <div class="row bottom_padding">
                            <div class="col-md-3">
                                <img class="img_size" src="../../assets/img/entity3.png">
                            </div>
                            <div class="col-md-6">
                                <h5> {{entity.name}}</h5>
                                <p>{{entity.description}}</p>
                                <div class="row">
                                    <button mat-raised-button color="primary"
                                        (click)="editEntityField(entity)">Edit</button>
                                    &nbsp;
                                    <button mat-raised-button color="warn" [disabled]="entity.is_default"
                                        (click)="openDeleteModel(entity)">Delete</button>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="card">
                            <div class="card-header">
                                {{entity.name}}
                                <img *ngIf="!entity.is_default" style="float:
                                    right; cursor: pointer;"
                                    (click)="editEntity(entity)"
                                    src="https://img.icons8.com/metro/26/000000/edit-file.png">
                            </div>
                            <div class="card-body">
                                <div><span>{{entity.description}}</span></div>
                                <br />
                                <button mat-raised-button color="primary"
                                    (click)="editEntityField(entity)">Edit</button>
                                &nbsp;
                                <button mat-raised-button color="warn"
                                    [disabled]="entity.is_default"
                                    (click)="openDeleteModel(entity)">Delete</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-4" *ngIf="projectEntity?.length === 0">
                        No Entity Available.
                    </div>
                </div>
                <!-- 

    <mat-card *ngFor="let entity of allEntity" class="entity-card">
    <mat-card-header>
    <mat-card-title>{{entity.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>
    {{entity.description}}
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/entity-field']">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteEntity(entity._id)">Delete</button>
    </mat-card-actions>
    </mat-card> -->
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Screens </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card-content>
                    <div class="row">
                        <div class='col-md-9'></div>
                        <div class='col-md-3'>
                            <div class="btn-group screens-tag-style">
                                <!-- <button class="goToButton btn-space btn_color" mat-raised-button
                                    (click)="editTemplate(screenTempId)">Modify
                                    Template</button> -->
                                <button class="goToButton btn-space btn_color" mat-raised-button
                                    [routerLink]="['/templates']" [queryParams]="{projectId: project_id}">Change
                                    Template</button>
                                <!-- <button class="goToButton btn-space btn_color" mat-raised-button
                                    (click)="GoToDesigner()">Add
                                    Screen</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px;padding-bottom: 20px;">
                        <div class="col-md-3 bottom_padding" *ngFor="let screen of screenDetails; let i = index">
                            <span class="screen_text">{{screen?.screenName}}</span>
                            <img src="../../assets/img/desktop.png" *ngIf="screen.screenType === 'desktop'"
                                class="image" alt="Desktop">
                            <img src="../../assets/img/mobile.png" *ngIf="screen.screenType === 'mobile'" class="image"
                                alt="Mobile">
                            <span (click)="editScreen(screen._id, screen.screenType)" aria-hidden="true"><img class="editicon" src="../../assets/img/edit.svg"/></span>
                            <span (click)="deleteScreenById(screen._id)" aria-hidden="true"><img class="trashicon" src="../../../assets/img/trash.svg" /></span>

                        </div>
                        <div class="col-md-4" *ngIf="screenDetails.length === 0">
                            No Screen Available.
                        </div>
                    </div>
                </mat-card-content>
                <!-- <div class="row" style="margin: 0px;" *ngIf="selecteddefaultEntity && selecteddefaultEntity.length > 0">
    <div class="col-md-4" *ngFor="let defaultEntity of selecteddefaultEntity; let i = index">
    <div class="card">
    <div class="card-header">
    <h4>User:<span>{{defaultEntity?.user_name}}</span></h4>
    </div>
    <div class="card-body">
    <div>
    <h4>Project: <span>{{defaultEntity?.project_name}}</span></h4>
    </div>
    </div>
    </div>
    </div>
    </div> -->
            </mat-expansion-panel>
            <app-techarchitecture-manager></app-techarchitecture-manager>
            <app-menu-builder></app-menu-builder>
        </mat-accordion>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top':
    '100px','display':deletePopup}">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
    <h6 class="modal-title">Delete</h6>
    <button type="button" class="close">&times;</button>
    </div> -->
            <div class="delete modal-body">
                <p>Please confirm to delete this entity ? </p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-default" (click)="deleteEntityById()">Confirm</button>
                &nbsp;
                <button type="button" class="btn btn-default" (click)="closeDeleteModel()">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top':
    '100px','display':deleteFPopup}">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
    <h6 class="modal-title">Delete</h6>
    <button type="button" class="close">&times;</button>
    </div> -->
            <div class="delete modal-body">
                <p>Please click confirm to delete this Feature ? </p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-default" (click)="deleteFeature()">Confirm</button>
                &nbsp;
                <button type="button" class="btn btn-default" (click)="closeDeleteFModel()">Cancel</button>
            </div>
        </div>

    </div>
</div>


<div class="modal" tabindex="-1" data-keyboard="true" aria-hidden="true" data-backdrop="true" role="dialog"
    [ngStyle]="{'top': '100px','display':displayFeatureModel}">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="feature modal-content">
            <div class="modal-body">
                <div class="container">
                    <h1>Add Feature</h1>
                    <div class="row">
                        <mat-radio-group layout="row" [(ngModel)]="selectedOption">
                            <mat-radio-button class="example-radio-button" *ngFor="let option of options"
                                [value]="option" (change)="radioChange($event)">
                                {{option}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <!-- <div class="radio mr-sm-4">
    <label><input type="radio" name="selectFeature" [value]="false"
    (change)="onChangeRadio($event.target.value)" [(ngModel)]="selectFeature">Import
    Feature</label>
    </div>
    <div class="radio mr-sm-4">
    <label><input type="radio" name="selectFeature" (change)="onChangeRadio($event.target.value)"
    [value]="true" [(ngModel)]="selectFeature">Add New
    Feature</label>
    </div>
    <div class="radio mr-sm-4">
    <label><input type="radio" name="selectFeature" (change)="onChangeRadio($event.target.value)"
    [value]="true" [(ngModel)]="selectFeature">Create
    Feature</label>
    </div> -->
                    </div>
                    <div *ngIf="showImportFeature" class="dropdown mt-sm-2
                        mb-sm-2">
                        <div class="form-group">
                            <label for="sel1">Import Existing Feature:</label>
                            <select class="form-control" [(ngModel)]="featureDetails.name"
                                (change)="onChange($event.target.value)">
                                <option value="" selected>Select Feature</option>
                                <option value="" selected>wcmx/acoustic</option>
                             <!-- <option *ngFor="let feature of featureData" value="{{feature.name}}"
                                    ([ngModel])="selectedExistingFeature">{{feature.name}}</option> -->
                            </select>
                        </div>
                    </div>
                    <form #featurForm="ngForm">
                        <div class="form-group">
                            <!-- feature name -->
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="featureInfo.name"
                                (ngModelChange)="onFeatureChange($event)" #name="ngModel" [ngClass]="{ 'is-invalid':
                                featurForm.submitted && name.invalid }" required />
                            <div *ngIf="isFeatureExist" style="color: red">Feature name already exist</div>
                            <div *ngIf="invalidName" style="color: red">name must starts
                                with alphapet,special charaters not allowed</div>
                            <div *ngIf="isReserveWord" style="color: red">name must not be reserve
                                word</div>
                            <div *ngIf="featurForm.submitted && name.invalid" class="invalid-feedback">
                                <div *ngIf="name.errors.required">Name is
                                    required</div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="showUploadFeature">
                            <!-- <label for="upload">Upload File</label> -->
                            <div class="mb-sm-2">
                                <label for="name">UI YAML</label><br />
                                <input #uiFile type="file" (change)="fileSelected($event)" />
                            </div>
                            <div class="mb-sm-2">
                                <label for="name">Service YAML</label><br />
                                <input #serviceFile type="file" (change)="fileSelectedBack($event)" />
                            </div>
                            <div class="mb-sm-2">
                                <label for="name">ApiGateway YAML</label><br />
                                <input #apiGatewayFile type="file" (change)="fileSelectedApi($event)" />
                            </div>
                            <!-- <input type="file" class="form-control" name="upload" (change)="handleFileInput($event.target.files)" accept=".yaml,.yml"/> -->
                        </div>
                        <!-- <div class="drop-zone">
    <div ng2FileDrop [uploader]="uploader" multiple class="drop-zone">
    Drag and drop files to upload
    </div>
    </div> -->
                        <!-- feature descritpion -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <ckeditor [editor]="Editor" name="description" id="editor" (ready)="onReady($event)"
                                [(ngModel)]="featureInfo.description"></ckeditor>
                            <!-- use this inside ckeditor tag for image upload replace your api with uploadUrl [config]="{ ckfinder :{uploadUrl: 'https://your-organization-id.cke-cs.com/easyimage/upload/'}}" -->
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="modal-footer" style="padding: 5px" *ngIf="!selectFeature">
    <button class="btn btn-primary" (click)="createFeature()">Create</button>
    <button type="button" class="btn btn-default" (click)="closeFeatureExistingModel()">Cancel</button>
    </div> -->
            <div class="modal-footer" style="padding: 5px" *ngIf="showAddFeature
                || showUploadFeature">
                <button class="btn btn-primary" (click)="createFeature()">Create</button>
                <button type="button" class="btn btn-default" (click)="closeFeatureCreateModel()">Cancel</button>
            </div>
            <div class="modal-footer" style="padding: 5px" *ngIf="showImportFeature">
                <button class="btn btn-primary" (click)="importFeature()">Import</button>
                <button type="button" class="btn btn-default" (click)="closeFeatureExistingModel()">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- events action popup model -->