<!-- <h1 mat-dialog-title>Details:</h1>
<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="modelObject.name">
  </mat-form-field>
  <p>Description</p>
  <mat-form-field>
    <input matInput [(ngModel)]="modelObject.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="modelObject" cdkFocusInitial>Ok</button>
</div> -->




<h1 mat-dialog-title class="dialogHeader">Choose the Screen:</h1>
<div mat-dialog-content>
  <div class="row screenImg">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <input id="image1" type="radio" name="radioImage" [(ngModel)]="image1" [value]="image1"
        (click)="type('desktop')" />
      <label class="radioButton image1" for="image1"></label>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <!-- <img src="assets/img/MobileIcon.svg" alt="Smiley face" height="150" width="120">
      <input type="radio" name="gender" value="female" (click)="screenType('mobile')"> -->
      <input id="image2" type="radio" name="radioImage" [(ngModel)]="image2" value="image2" (click)="type('mobile')" />
      <label class="radioButton image2" for="image2"></label>
    </div>
  </div>
</div>
<div mat-dialog-actions class="footerPopup">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="screen" cdkFocusInitial>Ok</button>
</div>