.space {
    float: right;
    margin-right: 30px;
}

.lang-head {
    width: 100%;
    background-color: #b1b1b1 ;
    position: fixed;
    top: 0px;
    z-index: 999;
}

.about-span{
    float: right;
    cursor: pointer;
    margin-right: 1em;
}