<div class="container bottom_align">
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
      <div class="row-button">
        <!-- <button mat-raised-button color="primary" for="file " type="file" id="file"
          (change)="handleFileInput($event.target.files)"
          (click)=openImportModal()>{{ 'import project' | i18next }}</button> -->
        <button mat-raised-button color="primary" (click)=openModal()>{{ 'create_project' | i18next }}</button>
      </div>
    </div>
  </div>
  <div style="height: 50px;"></div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> My Applications</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row" style="margin: 0px;">
        <div class="col-md-3" *ngFor="let proj of myAllProjects; let i = index">
          <div class="sitecard">
            <div class="sitecard-preview-c">
              <a (click)="editProject(proj)">
                <div class="sitecard__overlay">
                  <mat-icon>edit</mat-icon> <span style="font-size: 26px">Edit</span>
                </div>
                <div class="sitecard-preview" [ngStyle]="{'background-image':'url('+proj.app_ui_template_img+')'}">
                </div>
              </a>
            </div>
            <div class="sitecard-info u-p--m">
              <div title="Draft" class="sitecard-status sitecard-status-1"></div>
              <div class="sitecard-temp-name">{{proj.app_ui_template}}</div>
              <div class="sitecard-title">{{proj.name}}</div>
              <!-- <div class="sitecard-desc">{{proj.description}}</div> -->
              <div class="sitecard__pub-info tp-size--s">
                Created On: --
              </div>
            </div>

            <div class="sitecard-actions">
              <div class="col-xs-4 sitecard-action-c">
                <a class="sitecard-action" (click)="editProject(proj)" data-toggle="tooltip" title=""
                  data-original-title="Edit">
                  <mat-icon class="base-icon">edit</mat-icon>
                </a>
              </div>
              <!-- <div class="col-xs-3 sitecard-action-c">
                <a class="sitecard-action" data-toggle="tooltip" title="" data-original-title="Clone">
                  <mat-icon class="base-icon">file_copy</mat-icon>
                </a>
              </div> -->
              <div class="col-xs-4 sitecard-action-c">
                <a class="sitecard-action" (click)="generateProject(proj)" data-toggle="tooltip" title=""
                  data-original-title="Settings">
                  <mat-icon class="base-icon">get_app</mat-icon>
                </a>
              </div>
              <div class="col-xs-4 sitecard-action-c">
                <a class="sitecard-action entity-action-remove" (click)="openDeleteModel(proj)">
                  <mat-icon class="base-icon">delete</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="myAllProjects.length === 0">
          No Projects Available.
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Geppetto Sample Applications</mat-panel-title>
      </mat-expansion-panel-header>
      <p>No Projects Available.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Shared Applications </mat-panel-title>
      </mat-expansion-panel-header>
      <p>No Projects Available.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayModel}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3" [formGroup]="createProject">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">{{ 'name' | i18next }}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_name' | i18next}}"
                  onkeypress=" return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || (event.charCode >= 48 && event.charCode <= 57))"
                  id="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form_control.name.errors }">
                <div *ngIf="submitted && form_control.name.errors" class="invalid-feedback">
                  <div *ngIf="form_control.name.errors.required"> {{'require_name' | i18next}}</div>
                </div>
                <div *ngIf="isProjectExit" style="color: red">name already exist</div>
                <div *ngIf="invalidName" style="color: red">name must starts
                  with alphapet,special charaters not allowed</div>
                <div *ngIf="isReserveWord" style="color: red">name must not be reserve
                  word</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="template">Select Template</label>
                <select class="form-control" [(ngModel)]="templateData" id="template" formControlName="template"
                  [ngClass]="{ 'is-invalid': submitted && form_control.secondoryLanguage }">
                  <option value="" selected>select template</option>
                  <option *ngFor="let tempalte of gepTemplates;let i = index" [ngValue]="tempalte">{{ tempalte.name }}
                  </option>
                </select>
                <div *ngIf="submitted && form_control.template.errors" class="invalid-feedback">
                  <div *ngIf="form_control.template.errors.required">must select one template
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="primary-language">{{ 'primary_language' | i18next }}</label>
                <select class="form-control" id="primary-language" [(ngModel)]=createProject.value.primaryLanguage
                  formControlName="primaryLanguage" (click)=onSecondoryLangSelect()
                  [ngClass]="{ 'is-invalid': submitted && form_control.primaryLanguage.errors }">
                  <!-- <option value="" selected>{{'select_primary' | i18next}}</option> -->
                  <option *ngFor="let p of primaryLanguages" [ngValue]="p">{{ p }}</option>
                </select>
                <!-- <input class="form-control" id="primary-language" [(ngModel)]="lang" formControlName="primaryLanguage"> -->
                <div *ngIf="submitted && form_control.primaryLanguage.errors" class="invalid-feedback">
                  <div *ngIf="form_control.primaryLanguage.errors.required">{{'require_primaryLanguage' | i18next}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="secondary-language">{{ 'secondary_language' | i18next }}</label>
                <select class="form-control" id="secondary-language" [(ngModel)]=createProject.value.secondoryLanguage
                  formControlName="secondaryLanguage"
                  [ngClass]="{ 'is-invalid': submitted && form_control.secondaryLanguage.errors }">
                  <option value="" selected>{{'select_secondary' | i18next}}</option>
                  <option *ngFor="let s of secondoryLanguages" [ngValue]="s">{{ s}}</option>
                </select>
                <div *ngIf="submitted && form_control.secondaryLanguage.errors" class="invalid-feedback">
                  <div *ngIf="form_control.secondaryLanguage.errors.required">{{'require_secondaryLanguage' | i18next}}
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="app-context">{{ 'app_context' | i18next }}</label>
                  <input type="text" class="form-control" placeholder="{{'placeholder_appContext' | i18next}}"
                    id="app-context" formControlName="appContext"
                    [ngClass]="{ 'is-invalid': submitted && form_control.appContext.errors }">
                  <div *ngIf="submitted && form_control.appContext.errors" class="invalid-feedback">
                    <div *ngIf="form_control.appContext.errors.required">{{'require_appContext' | i18next}}</div>
                  </div>
                </div>
              </div> -->

            <div class="col-md-6">
              <!-- <div class="form-group">
                  <label for="description">{{ 'description' | i18next }}</label>
                  <textarea class="form-control" rows="1" id="description"
                    placeholder="{{'placeholder_description' | i18next}}" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && form_control.description.errors }"></textarea>
                  <div *ngIf="submitted && form_control.description.errors" class="invalid-feedback">
                    <div *ngIf="form_control.description.errors.required">{{'require_description' | i18next}}</div>
                  </div>
                </div> -->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" [disabled]="!templateData || !createProject.value.primaryLanguage || !createProject.value.secondoryLanguage" class="btn button-create" (click)="projectCreate()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':delmodal}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h6 class="modal-title">Delete</h6>
        <button type="button" class="close">&times;</button>
      </div> -->
      <div class="modal-body">
        <p>Please click confirm to delete this project ? </p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" (click)="deleteMyProjects()" class="btn btn-default">Confirm</button>
        <button type="button" (click)="onCloseHandled()" class="btn btn-default">{{ 'cancel' | i18next }}</button>
      </div>
    </div>

  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display':displayGenratorModel}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
          <h6 class="modal-title">Delete</h6>
          <button type="button" class="close">&times;</button>
        </div> -->
      <div class="modal-body">
        <p>Generating </p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" (click)="onCloseHandledGen()" class="btn btn-default">{{ 'cancel' | i18next }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayImportModel}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-2" [formGroup]="createProject">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="file">Choose yaml file to import project</label>
                <input #myInput type="file" name="file" ng2FileSelect [uploader]="uploader" />
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
                        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                  [disabled]="!uploader.getNotUploadedItems().length">
                  {{ 'Import' | i18next }}
                </button>
          <button type="button" class="btn button-close" (click)="closeImportModal()">{{ 'Cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>