modal {

    display: none;

    .modal {
        display: block;
        border-radius: 20px;

        .modal-body {
            background: #fff;
            margin: 40px;
            border: 1px solid;
            border-radius: 10px;
            padding: 10px;
        }
    }
}

.col-header {
    text-align: center;
    color: #3a7bd5;
    font-size: 130%;
}

.techDropdown {
    text-align: center;
    padding-top: 2%;
}
.techDropdown{
    max-width: 30.333333%;
}
.col-header{
    max-width: 30.333333%;
}
