/* You can add global styles to this file, and also import other style files */
//toaster
//@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr.css';

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
// for angular material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@import "../node_modules/bootstrap/scss/bootstrap.scss";




// for toaster
.toast-success {
    background-color: #51a351!important
  }
  
  .toast-error {
    background-color: #bd362f
  }
  
  .toast-info {
    background-color: #2f96b4
  }
  
  .toast-warning {
    background-color: #f89406
  }
 //-- 


//  html{ height:100%; }
//  body,#app{
//   height: auto;
//   position: absolute;
//   top: 84px;
//   left: 0;
//   right: 0;
//   bottom: 0}
//  #app,body::after{ content:''; display:block; height:100px; }

.ag-cell-edit-input {
    width: 100%;
    height: 100% !important;
}

.ck-editor__editable {
  min-height: 500px !important;
}



@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";
@import "assets/scss/_geppetto.scss";

.modal-footer {
  justify-content: center;
}
.modal-footer .btn+.btn {
 margin-bottom: auto; 
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom:0px;
  overflow-x: hidden;
  padding-bottom: 15%;
}

app-projects .container .sitecard {
  height: 300px;
  margin-bottom: 10%;
}
.container .sitecard .sitecard-info {
  height: 77% ;
}
.component_top{
  margin-top: 3%;
}
.mat-dialog-actions{
  justify-content: center;
}
app-projects .container .sitecard .sitecard-actions {
  position: relative;
  z-index: 10;
  margin-right: 0;
  bottom: 0;
  margin-left: 0;
}
.ok_btn{
  background: #3f51b5;
}
.delete_btn{
  background:#f44336;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  app-login > mat-card.cardsize, app-login .cardsize, app-login .cardsize {
    margin-bottom: 18rem !important;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait)
{
  app-login > mat-card.cardsize, app-login .cardsize, app-login .cardsize {
    margin-bottom: 17rem !important;
  }
}