.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .div_width{
    max-width:47%;
  }
  .btn_color{
    background-color: #033668;
    border-bottom: 3px solid #033668; 
  }
  .btn_color:hover{
    background-color: #39a521;
    border-bottom: 3px solid #2d831a; 
  }