<div class="container-fluid top_align">
  <h1 style="text-align: center;"> <u>GpConfig Manager</u> </h1>
  <div class="row row-button">
    <button mat-raised-button color="primary" (click)="openModal('create')">{{ 'create' | i18next }}</button>
    <button mat-raised-button (click)="openModal('update')">{{ 'update' | i18next }}</button>
    <button mat-raised-button color="warn" (click)="deleteRow()">{{ 'delete' | i18next }}</button>
  </div>
  <div class="flowTable">
    <div class="test-header">
      Page Size:
      <select (change)="onPageSizeChanged($event.target.value)" id="page-size">
        <option value="10" selected="">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
      [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData" [pagination]="true"
      [paginationPageSize]="paginationPageSize" domLayout='autoHeight'
      [paginationNumberFormatter]="paginationNumberFormatter" [animateRows]="true" [defaultColDef]="defaultColDef"
      (selectionChanged)="onSelectionChanged()" [floatingFilter]="true" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayModel}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="container">
        <div class="m-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">{{ 'name' | i18next }}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_name' | i18next}}" id="name"
                  name="name" [(ngModel)]="configManager.name">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="label">{{ 'label' | i18next }}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_label' | i18next}}" id="label"
                  name="label" [(ngModel)]="configManager.label">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">{{ 'description' | i18next }}</label>
                <textarea class="form-control" rows="1" id="description"
                  placeholder="{{'placeholder_description' | i18next}}" name="description"
                  [(ngModel)]="configManager.description"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" placeholder="Enter Type" id="type" name="type"
                  [(ngModel)]="configManager.type">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sub_type">Sub Type</label>
                <input type="text" class="form-control" placeholder="Enter Sub Type" id="sub_type" name="sub_type"
                  [(ngModel)]="configManager.sub_type">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="value">Value</label>
                <input type="text" class="form-control" placeholder="Enter Value" id="value" name="value"
                  [(ngModel)]="configManager.value">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group" *ngIf="checkUpdate">
            <button type="button" class="btn button-create ok_btn"
              (click)="createConfig()">{{ 'create' | i18next }}</button>
            <button type="button" class="btn button-close delete_btn"
              (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
          </div>
          <div class="form-group" *ngIf="!checkUpdate">
            <button type="button" class="btn button-create ok_btn"
              (click)="updateConfig()">{{ 'update' | i18next }}</button>
            <button type="button" class="btn button-close delete_btn"
              (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" style="margin: 0px;">
  <div class="col-md-12" style="display: contents;">
    <div class="col-md-3">
      <div class="card" *ngIf="checkSelectedMicroFlow && checkSelectedFlowComponent">
        <div class="card-header">Flow: <span>{{selectedFlow[0].name}}</span></div>
        <div class="card-body">
          <h6><b>Flow Components</b></h6>
          <span>{{selectedFlowComponents[0].name}}</span>
        </div>
        <div class="card-body">
          <h6><b>Micro Flow</b></h6>
          <span *ngFor="let micro of selectedMicroFlow">{{micro.name}}<br /></span>
        </div>
      </div>
    </div>
  </div>
</div> -->