<div class="container top_align">
  <h1 class="flowTable" style="text-align: center;"> <u>{{ 'availableConnectors' | i18next }}</u> </h1>
  <div class="row row-button">
    <button mat-raised-button color="primary" (click)="onShowAPI()"> View/Update Connectors </button>
    <button mat-raised-button color="warn" (click)="deleteConnector()">{{ 'delete' | i18next }}</button>
  </div>
  <div class="flowTable">
    <ag-grid-angular #agGrid style=" width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef" domLayout='autoHeight'
      (rowSelected)="selectAvaConnector()" [rowSelection]="rowSelection" [animateRows]="true" class="ag-theme-balham"
      [columnDefs]="connectorColDef" [rowData]="connectorData" (gridReady)="onGridConnectorReady($event)">
    </ag-grid-angular>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':showApiModal}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title">
          Available APIs/Methods
        </div>
      </div>
      <div class="modal-body" style="min-height: 200px; max-height: 300px; overflow-x: scroll;">
        <div class="m-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">{{'name'| i18next}}</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="name" [(ngModel)]="connector.name">
              </div>
              <div class="form-group">
                <label for="url">End Point</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="url" [(ngModel)]="connector.url">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">{{'description'| i18next}}</label>
                <textarea rows="5" type="text" class="form-control" placeholder="enter Dev Framework" id="description"
                  [(ngModel)]="connector.description"></textarea>
              </div>
            </div>

          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <h4>APIs and Methods</h4>
              </div>
              <div class="col-md-6">
                <div *ngIf="selectedAvaConnector.length > 0" style="height: 250px; overflow-x: scroll; border: 1px solid black;">
                  <div *ngFor="let apis of connector.available_apis; let i = index;">
                    <div class="col-md-1">
                      <input name="apisradio" (click)="selectAvaConProp(apis, i)" type="radio" />
                    </div>
                    <div class="col-md-10" style="padding: 0px 5px;">
                      <label>{{ apis.type }} <b>{{apis.name}}</b> {{apis.description}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row" *ngIf="!selectedApiCon">
                  <button class="btn btn-primary" type="button" (click)="addProperties()">Add Connector
                    Properties</button>
                  <div class="col-md-12" style="padding: 0px" *ngFor="let properties of connector.properties; let i = index;">
                    <div class="col-md-6 form-group">
                      <label *ngIf="i === 0" for="key">Key</label>
                      <input [(ngModel)]="properties.key" type="text" class="form-control" placeholder="Item name">
                    </div>
                    <div class="col-md-6 form-group">
                      <label *ngIf="i === 0" for="value">Value</label>
                      <input type="text" [(ngModel)]="properties.value" class="form-control" placeholder="Key value entered by user">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="selectedApiCon">
                  <button class="btn btn-primary" type="button" (click)="addAPIProperties()">Add APIs
                    Properties</button>
                  <div class="col-md-12" style="padding: 0px" *ngFor="let properties of connector.available_apis[selcetedIndex].properties; let i = index;">
                    <div class="col-md-6 form-group">
                      <label *ngIf="i === 0" for="key">Key</label>
                      <input [(ngModel)]="properties.key" type="text" class="form-control" placeholder="Item name">
                    </div>
                    <div class="col-md-6 form-group">
                      <label *ngIf="i === 0" for="value">Value</label>
                      <input type="text" [(ngModel)]="properties.value" class="form-control" placeholder="Key value entered by user">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="selectedAvaConnector.length === 0">
          <button type="button" class="btn button-create ok_btn" (click)="createConnector()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close delete_btn" (click)="closeModal()"> Close</button>
        </div>
        <div class="form-group" *ngIf="selectedAvaConnector.length > 0">
          <button type="button" class="btn button-create ok_btn" (click)="updateConnector()">{{ 'update' | i18next }}</button>
          <button type="button" class="btn button-close delete_btn" (click)="closeModal()"> Close</button>
        </div>
      </div>
    </div>
  </div>
</div>