.row-button {
    margin-left: auto;
}

.name {
    float: left;
}

.row-button button,
.row-button a {
    margin-right: 8px;
}

.flowTable {
    margin-top: 50px
}

.msgSpace {
    margin-left: 50px;
}