<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/flow-manager">Flow</a></li>
      <li class="breadcrumb-item active" aria-current="page">Flow Component</li>
    </ol>
  </nav>
  <h1 style="text-align: center;"> <u>{{ 'flowComponents' | i18next }}</u> </h1>
  <div class="row">
    <h3> Flow: <span>{{flow_name}}</span></h3>
    <div class="row-button">
      <button mat-raised-button color="primary" (click)="openAddFlowModal('create')">{{ 'create' | i18next }}</button>
      <button mat-raised-button (click)="openAddFlowModal('update')">{{ 'update' | i18next }}</button>
      <button mat-raised-button color="warn">{{ 'delete' | i18next }}</button>
    </div>
  </div>
  <!-- modified start -->
  <div class="flowTable">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
      domLayout='autoHeight' (rowSelected)="selectFlowComponent()" [animateRows]="true" class="ag-theme-balham"
      [columnDefs]="flowComponentColDef" [rowData]="flowComponentRowData" [rowSelection]="rowSelection"
      (gridReady)="onFCGridReady($event)">
    </ag-grid-angular>
  </div>
  <!-- modified end -->
  <h1 class="flowTable" style="text-align: center;" *ngIf="default_connector">
    <u>Connector</u> </h1>
  <div class="row" *ngIf="default_connector">
    <h3>Component: <span>{{selectedFlowCmpnt[0].component_name}}</span></h3>
    <div class="row-button">
      <button mat-raised-button color="primary" (click)="openAddDConnectorModal('create')"> Add Connector
      </button>
      <!-- <button mat-raised-button (click)="openAddDConnectorModal('update')">{{ 'update' | i18next }}</button> -->
      <button mat-raised-button color="warn" (click)="deleteConnector()">Remove Connector</button>
    </div>
  </div>


  <div class="flowTable" *ngIf="default_connector">
    <ag-grid-angular #agGrid3 style=" width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
      domLayout='autoHeight' (rowSelected)="selectDefaultConnector()" [animateRows]="true" class="ag-theme-balham"
      [columnDefs]="linkedConnectorColDef" [rowData]="default_connector" [rowSelection]="rowSelection"
      (gridReady)="onDCGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class="flowTable">
    <h1 style="text-align: center;" *ngIf="microFlowRowData.length > 0"> <u>{{'microFlows'|i18next}}</u> </h1>
    <div class="row" *ngIf="microFlowRowData.length > 0">
      <h3> Component: <span>{{selectedFlowCmpnt[0].component_name}}</span></h3>

      <div class="row-button">
        <button mat-raised-button color="primary" (click)="openAddMFModal('create')">{{ 'create' | i18next }}</button>
        <button mat-raised-button (click)="openAddMFModal('update')">{{ 'update' | i18next }}</button>
        <button mat-raised-button color="warn" (click)="deleteMicroFlow()">{{ 'delete' | i18next }}</button>
      </div>
    </div>
    <!-- modified start -->
    <div class="flowTable" *ngIf="microFlowRowData.length > 0">
      <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
        domLayout='autoHeight' (selectionChanged)="onSelectionMFChange()" [rowSelection]="rowSelection"
        [animateRows]="true" class="ag-theme-balham" [columnDefs]="microFlowColDef" [rowData]="microFlowRowData"
        (gridReady)="onGridMicroFlowReady($event)"></ag-grid-angular>
    </div>
    <!-- modified end -->
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addModel}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3" [formGroup]="createFlowComponentForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="component_name">{{'componentName' | i18next}}</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" hidden id="_id"
                  [(ngModel)]="dconnector.id" formControlName="_id">
                <input type="text" class="form-control" placeholder="Enter component name" id="component_name"
                  formControlName="component_name" [(ngModel)]="iFlowComponent.component_name">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="label">{{'label'| i18next}}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_label' | i18next}}" id="label"
                  formControlName="label" [(ngModel)]="iFlowComponent.label">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="type">{{'type'| i18next}}</label>
                <input class="form-control" id="type" placeholder="Enter Type" formControlName="type"
                  [(ngModel)]="iFlowComponent.type">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sequence_id">{{'sequenceId'| i18next}}</label>
                <input type="number" class="form-control" placeholder="Enter Sequence Id" id="sequence_id"
                  [(ngModel)]="iFlowComponent.sequence_id" formControlName="sequence_id">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dev_language">{{'devLang'| i18next}}</label>
                <input class="form-control" id="dev_language" placeholder="Enter Dev Language"
                  formControlName="dev_language" [(ngModel)]="iFlowComponent.dev_language">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="dev_framework">{{'devFramework'| i18next}}</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="dev_framework"
                  [(ngModel)]="iFlowComponent.dev_framework" formControlName="dev_framework">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">{{ 'description' | i18next }}</label>
                <textarea class="form-control" rows="1" id="description"
                  placeholder="{{'placeholder_description' | i18next}}" formControlName="description"
                  [(ngModel)]="iFlowComponent.description"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" formControlName="connector"
                      [checked]="iFlowComponent.connector" [(ngModel)]="iFlowComponent.connector"
                      value="">{{'connector'|i18next}}</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="isDisableFlowComp">
          <button type="button" class="btn button-create"
            (click)="createFlowComponent()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="!isDisableFlowComp">
          <button type="button" class="btn button-create"
            (click)="updateFlowCompModel()">{{ 'update' | i18next }}</button>
          <button type="button" class="btn button-close"
            (click)="onCloseHandledUpdate()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addDConnector}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        <div class="m-3">
          <div class="row">
            <div class="radio mr-sm-4">
              <label>
                <input type="radio" name="selectConnector" [value]="false" [(ngModel)]="selectConnector">
                Default Connectors
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="selectConnector" [value]="true" [(ngModel)]="selectConnector">
                Available Connectors
              </label>
            </div>
          </div>
          <div *ngIf="selectConnector" class="dropdown mt-sm-2 mb-sm-2">
            <div class="form-group">
              <label for="sel1">Select Available Connector:</label>
              <select class="form-control" [(ngModel)]="selectedAvaConnector">
                <option *ngFor="let avaConnector of AvailableConnector" [ngValue]="avaConnector">{{avaConnector.name}}
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="selectedAvaConnector">
              <label for="sel1">Enter Key Values for Connector Properties:</label>
              <select class="form-control" [(ngModel)]="selectedAvaConnectorProp">
                <option *ngFor="let avaMethod of selectedAvaConnector.properties" [ngValue]="avaMethod">
                  {{avaMethod.key}}</option>
              </select>
              <input type="text" *ngIf="selectedAvaConnectorProp" class="form-control"
                placeholder="enter {{selectedAvaConnectorProp.key}} value" id="description"
                [(ngModel)]="selectedAvaConnectorProp.value" name="description">
            </div>
            <div class="form-group" *ngIf="selectedAvaConnector">
              <label for="sel1">Select Methods/APIs:</label>
              <select class="form-control" [(ngModel)]="selectedAvaConnectorMethod"
                (change)="onSelectAvaConnectorMethod()">
                <option *ngFor="let avaMethod of selectedAvaConnector.available_apis" [ngValue]="avaMethod">
                  {{avaMethod.name}} {{avaMethod.description}}</option>
              </select>
            </div>
            <div class="form-group" *ngIf="selectedAvaConnectorMethod">
              <label for="sel1">Enter Key Values for Method/API:</label>
              <select class="form-control" [(ngModel)]="selectedAvaConnectorMethodApi"
                (change)="onSelectAvaConnectorMethodProp()">
                <option *ngFor="let avaMethod of selectedAvaConnectorMethod.properties" [ngValue]="avaMethod">
                  {{avaMethod.key}}</option>
              </select>
              <input type="text" *ngIf="selectedAvaConnectorMethodApi" class="form-control"
                placeholder="enter {{selectedAvaConnectorMethodApi.key}} value" id="description"
                [(ngModel)]="selectedAvaConnectorMethodApi.value" name="description">
            </div>
          </div>

          <div class="row">
            <div class="radio mr-sm-4" *ngIf="!selectConnector">
              <label><input type="radio" name="disableDConnector" [value]="false"
                  [(ngModel)]="disableDConnector">Disable</label>
            </div>
            <div class="radio" *ngIf="!selectConnector">
              <label><input type="radio" name="disableDConnector" [value]="true"
                  [(ngModel)]="disableDConnector">Enable</label>
            </div>
          </div>

          <div *ngIf="!selectConnector" class="dropdown mt-sm-2 mb-sm-2">
            <div class="form-group">
              <label for="sel1"></label>
              <select class="form-control" [disabled]="!disableDConnector" (change)="onChange($event.target.value)">
                <option *ngFor="let DCon of default_connector" value="{{DCon.name}}" ([ngModel])="selectedDCon">
                  {{DCon.name}}</option>
              </select>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group"  *ngIf="!selectConnector">
                <label for="name">{{'name'| i18next}}</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="name" [(ngModel)]="dconnector.name"
                  name="name" [ngClass]="{ 'is-invalid': submitted && form_control.name.errors }">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" *ngIf="!selectConnector">
                <label for="description">{{'description'| i18next}}</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="description" [(ngModel)]="dconnector.description"
                  name="description" [ngClass]="{ 'is-invalid': submitted && form_control.description.errors }">
              </div>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group" *ngIf="selectConnector">
                <label for="url">{{'url'| i18next}}</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="url" [(ngModel)]="dconnector.url"
                  name="url" [ngClass]="{ 'is-invalid': submitted && form_control.url.errors }">
              </div>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary" type="button" (click)="addFieldValue()">Add</button>
                  <span class="msgSpace">Click to add a properties</span>
                  <table class="table table-striped table-bordered">
                    <tbody>
                      <tr *ngFor="let field of fieldArray; let i = index">
                        <td>
                          <input class="form-control" id="url" placeholder="Enter URL" name="key-{{i}}"
                            [(ngModel)]="field.key">
                        </td>
                        <td>
                          <input class="form-control" id="url" placeholder="Enter URL" name="value-{{i}}"
                            [(ngModel)]="field.value">
                        </td>

                        <td>
                          <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="isDisplayDConnector">
          <button type="button" class="btn button-create" (click)="addDefaultConnector()">Add</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="!isDisplayDConnector">
          <button type="button" class="btn button-create"
            (click)="updateDefaultConnector()">{{ 'update' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseHandledUpdate()">{{ 'cancel' |
            i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addConnectorModel}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">{{'name'| i18next}}</label>
                <input type="text" class="form-control" placeholder="Enter Name" id="name" name="name"
                  [(ngModel)]="connector.name">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="description">{{'description'| i18next}}</label>
                <input type="text" class="form-control" placeholder="Enter Description" id="description"
                  name="description" [(ngModel)]="connector.description">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="url">{{'url'| i18next}}</label>
                <input class="form-control" id="url" placeholder="Enter URL" name="url" [(ngModel)]="connector.url">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary" type="button" (click)="addFieldValue()">Add</button>
                  <span class="msgSpace">Click to add a properties</span>
                  <table class="table table-striped table-bordered">
                    <tbody>
                      <tr *ngFor="let field of fieldArray; let i = index">
                        <td>
                          <input class="form-control" id="url" placeholder="Enter URL" name="key-{{i}}"
                            [(ngModel)]="field.key">
                        </td>
                        <td>
                          <input class="form-control" id="url" placeholder="Enter URL" name="value-{{i}}"
                            [(ngModel)]="field.value">
                        </td>

                        <td>
                          <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="isDisplayConnector">
          <button type="button" class="btn button-create" (click)="createConnector()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close"
            (click)="onCloseConnectorHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="!isDisplayConnector">
          <button type="button" class="btn button-create" (click)="updateConnector()">{{ 'update' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseConnectorHandledUpdate()">{{ 'cancel' |
            i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>  -->


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addMFModel}" *ngIf="showMicroFlow">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        {{'addForSeq' | i18next}} : {{selectedFlowCmpnt[0]?.component_name}}
        <form class="m-3" [formGroup]="createMFlowForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sequence_id">{{'sequenceId'| i18next}}</label>
                <input type="number" class="form-control" placeholder="Enter Sequence Id" id="sequence_id"
                  formControlName="sequence_id" [(ngModel)]="iMicroFlow.sequence_id">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="component_name">{{'componentName'|i18next}}</label>
                <input type="text" class="form-control" placeholder="Enter Component Name" id="component_name"
                  [value]="selectedFlowCmpnt[0]?.component_name" disabled formControlName="component_name"
                  [(ngModel)]="iMicroFlow.component_name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="micro_flow_step_name">{{'microFlowName'|i18next}}</label>
                <textarea class="form-control" rows="1" id="micro_flow_step_name" placeholder="Enter Micro Flow Name"
                  formControlName="micro_flow_step_name" [(ngModel)]="iMicroFlow.micro_flow_step_name"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="isDisplayMicroFlow">
          <button type="button" class="btn button-create" (click)="createMicroFLow()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseMFHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="!isDisplayMicroFlow">
          <button type="button" class="btn button-create" (click)="updateMicroFlow()">{{ 'update' | i18next }}</button>
          <button type="button" class="btn button-close"
            (click)="onCloseMFHandledUpdate()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>