<!-- Removed the class name for login as the footer was conflicting with the login card -->

<mat-card class="cardsize">
    <mat-card-header class="imagealign">
        <div mat-card-avatar>
            <img mat-card-image src="../../assets/GeppettoIcon.png">
        </div>
    </mat-card-header>
    <!-- <mat-form-field class="loginname" appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput type="text" [(ngModel)]='user.email'>
        </mat-form-field>
        <br>
        <mat-form-field class="password" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="show ? 'text' : 'password'" pw-show-hide="icon" [(ngModel)]='user.password'
                (keyup.enter)="Login(user)">
            <span class="input-group-addon eye">
                <i class="fa fa-eye-slash" aria-hidden="true" (click)="hideEye()"></i>
            </span>
        </mat-form-field> -->

    <form [formGroup]="loginform" (ngSubmit)="Login()">
        <div formGroupName="logindata">
            <div class="form-group email_field_size">
                <label class="text">Email</label>
                <input type="email" class="form-control center" formControlName="email" placeholder="Email">
                <span *ngIf="!loginform.get('logindata.email').valid && loginform.get('logindata.email').touched"
                    class="invalid-feedback">
                    Must be a valid Email Id
                </span>
            </div>
            <div class="form-group password_field_size">
                <label class="text">Password</label>
                <input type="password" class="form-control center" formControlName="password" placeholder="Password"
                    [type]="show ? 'text' : 'password'" pw-show-hide="icon" (keyup.enter)="Login()">
                <span class="input-group-addon eye">
                    <i [ngClass]="show ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true" (click)="hideEye()"></i>
                </span>
                <span *ngIf="!loginform.get('logindata.password').valid && loginform.get('logindata.password').touched"
                    class="invalid-feedback">
                    A Password must be 8 character and must have a Uppercase , Lowercase and a Special character
                </span>

            </div>
        </div>
    </form>

    <mat-checkbox class="example-margin" (change)="newuser($event)" [(ngModel)]="isChecked">New User</mat-checkbox>
    <div style="color:red; text-align: center" *ngIf="new_user">Please Enter email and Password</div>
    <br>
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-md-6">
                <mat-card-actions>
                    <div>
                        <button mat-raised-button (click)='Login()' color="primary">Login</button>
                        <div style="color:red; text-align: center">
                            {{errormessage}}
                        </div>
                    </div>
                </mat-card-actions>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-md-6">
                <label class="text">Single signin</label>
                <br>
                <ui-switch (change)="onChange($event)"></ui-switch>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="!isSingePageSignIn">
        <div class="row" style="justify-content: center">
            <div class="col-md-8">
                <button mat-raised-button (click)='Login()' color="primary">Single signin</button>
            </div>
        </div>
    </div>
    <br>
    <div class='container' *ngIf="isSingePageSignIn">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="google-button" (click)='googlesigin("google")'>
                    <span class="google-button__icon">
                        <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z"
                                id="Shape" fill="#EA4335" />
                            <path
                                d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z"
                                id="Shape" fill="#FBBC05" />
                            <path
                                d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z"
                                id="Shape" fill="#4285F4" />
                            <path
                                d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z"
                                fill="#34A853" /></svg>
                    </span>
                    <span class="google-button__text">Google</span>
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="google-button" (click)='facebooksigin("facebook")'>
                    <span class="google-button__icon">
                        <img style="width:20px" src="../../assets/img/facebook (1).png">
                    </span>
                    <span class="google-button__text">FACEBOOK</span>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="signup">
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayModel}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">User details</h5>
                        <!-- <button type="button" class="close" data-dismiss="modal" (click)="closeDeleteFModel()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                    </div>
                    <div class="modal-body">
                        <!-- Default input -->
                        <label for="exampleForm2">First name</label>
                        <input type="text" id="exampleForm2" class="form-control" [(ngModel)]='user.firstName'>
                        <!-- Default input -->
                        <label class="pading_top" for="exampleForm2">Last name</label>
                        <input type="text" id="exampleForm2" class="form-control" [(ngModel)]='user.lastName'>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="newUserLogin(sign)">Login</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="closeDeleteFModel()">Close</button>
                    </div>
                    <div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</mat-card>