// .cardsize {
//   max-width: 43em;
//   text-align: center;
//   height: 30em;
//   left: 45em;
//   margin-top: -2em;
//   padding-left: 6em;
//   padding-right: 5em;
//   margin-bottom: 9em;
//   background: grey;
// }


.name {
  text-align: center;
  padding-top: 5em !important;
}

.password {
  text-align: center;
}

.loginname {
  margin-top: 2em;
  text-align: center;
}

.imagealign {
  margin-left: 13em;
}

.invalid-feedback {
  display: unset !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  font-weight: bold;
  color: #dc3545;
}
input[pw-show-hide]+span {
  cursor: pointer;
  display: inline-block;
  margin-left: .5ch;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: middle;

  small {
    font-size: .7em;
    opacity: .5;
  }
}

// boring
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: calc(1em + 1.5vmin)
}

input {
  font: inherit;
  padding: .5ch;
  border-radius: .4ch;
  border: 2px solid #999;
}

body {
  padding: 100px 0;
  background-color: #efefef
}

a,
a:hover {
  color: #333
}

.eye {
  position: absolute !important;
  margin: -9px !important;
  margin-left: -31px !important;
  margin-top: 4px !important;
  background: unset;
  border: unset;
}
.modal-dialog {
  margin: 12.75rem auto;
}
.cardsize button {
  background-color: #033668;
   border-bottom: 3px solid #033668; 
}

.cardsize button:hover {
  background-color: #39a521;
   border-bottom: 3px solid #2d831a; 
}
.pading_top{
  padding-top:1%;
}
.email_field_size{
  margin: 2% 11% 4% 11%;
}
.password_field_size{
  margin: 2% 11% 4% 11%;
}
.eye {
  position: relative !important;
  top: -34px !important;
  left: 48% !important;
}
.center{
  text-align: center;
  height: 40px;
}

.gButton{
  background-color: white;
  color: black;
  text-align: center;
  /* margin-top: -2px; */
  /* color: white; */
  padding-top: 2px;
}

// Google Identity and Google+ Sign in buttons
// https://developers.google.com/+/branding-guidelines

.google-button {
  height: 40px;
  border-width: 0;
  background: white !important;
  color: black !important;
  text-align: center !important;
  border-radius: 5px;
  padding-top: 2px !important;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

// Boilerplate stuff

html, body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button ~ button {
  margin-left: 20px;
}


