<div class="mainDiv" id="editor-c">
</div>
<ngx-spinner bdColor = "rgba(231,220,220,0.33)" size = "small" color = "#b2acac" type = "timer" [fullScreen] = "true"></ngx-spinner>

<!-- grid popup model -->
<div *ngIf="isGridPopup" id="agGridModal" class="modal" tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grid</h5>
        <button type="button" class="close" (click)="onCloseHandled()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <form class="m-3" [formGroup]="agGridFields">
          <div class="form-group row">
            <label for="column">column</label>
            <select class="form-control" id="column" formControlName="selectColumn"
              [ngClass]="{ 'is-invalid': submitted && form_control.selectColumn.errors }" (ngModelChange)='onColumnChange($event)'>
              <option value="" selected>none</option>
              <option *ngFor="let col of columnOptions" [ngValue]="col">{{ col.name }}</option>
            </select>
            <div *ngIf="submitted && form_control.selectColumn.errors" class="invalid-feedback">
              <div *ngIf="form_control.selectColumn.errors.required">This field is required
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="fields">fields</label>{{selectField}}
            <select class="form-control" id="fields" (ngModelChange)='onFieldOptions($event)'
              formControlName="selectField" [ngClass]="{ 'is-invalid': submitted && form_control.selectField.errors }">
              <!-- <option value="" selected>none</option> -->
              <option *ngFor="let field of allEntityField" [value]="field.name">{{ field.name }}</option>
            </select>
            <div *ngIf="submitted && form_control.selectField.errors" class="invalid-feedback">
              <div *ngIf="form_control.selectField.errors.required">This field is required
              </div>
            </div>
          </div>
          <div class="row" *ngIf="agGridArray.length > 0">
            <span class="showMapping" (click)='toggleMapping()'>
              <span *ngIf="!isMappingGrid; else hide">Show</span>
              <ng-template #hide>Hide</ng-template>
              Mapped Fields
            </span>
            <div class="mapperTable col-md-12 col-sm-12 col-lg-12 col-xs-12"
              [@openCloseMapping]="isMappingGrid ? 'openGrid': 'closeGrid'">
              <table style="text-align: center" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">columnName</th>
                    <th scope="col">
                      <div class="row">
                        <div class="col-md-12">
                          Entity
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">Name</div>
                        <div class="col-md-6">Field</div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let gridInfo of agGridArray; let i=index">
                    <tr>
                      <th scope="row">{{i+1}}</th>
                      <td>{{gridInfo.columnname}}</td>
                      <td>
                        <div class="row">
                          <div class="col-md-6">
                            {{gridInfo.entity}}
                          </div>
                          <div class="col-md-6">
                            {{gridInfo.entityfield}}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-primary button-create" (click)="saveGridField()">ok</button>
          <button type="button" class="btn btn-danger button-close" (click)="onCloseHandled()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="myModal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Screen</h5>
        <button type="button" class="close" (click)="closeScreeName()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="screen-name" class="col-sm-4 col-form-label">Screen Name</label>
          <div class="col-sm-8">
            <input type="text" [(ngModel)]="screenName" (ngModelChange)="isScreenNameExist()" class="form-control"
              id="screen-name">
            <small *ngIf="screenNameExist" style="font-style: italic;
             color: red;">This screen Name is Exist.</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeScreeName()">Close</button>
        <button type="button" [disabled]="screenNameExist" class="btn btn-primary"
          (click)="updateScreeName()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- events action popup model -->
<div id="EventPopup" class="modal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="modal-header" style="display: block;">
        <button type="button" class="close" (click)="cancelEvent()" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Choose an Flow</h3>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row" *ngIf="selectedFlowObj && selectedFlowObj.length > 0">
            <div class="col-md-6 col-sm-8 col-xs-6">
              <b>Selected Flow Action</b>: &nbsp;&nbsp; {{selectedFlowObj[0].actionOnData}}
            </div>
            <br>
          </div>
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
            [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData" [animateRows]="true"
            [defaultColDef]="defaultColDef" domLayout='autoHeight' [pagination]="true" [paginationPageSize]="10"
            [floatingFilter]="true" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-primary button-create" (click)="saveEvent()">ok</button>
          <button type="button" class="btn btn-danger button-close" (click)="cancelEvent()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- link popup modal -->
<div *ngIf="isLinkPopup" id="LinkPopup" class="modal" tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="modal-header" style="display: block;">
        <button type="button" class="close" (click)="cancelEvent()" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Link Details</h3>
      </div>
      <div class="modal-body">
        <div class="container">
          <form class="m-3">
            <h4 class="TitleText">URL Binding</h4>
            <div class="form-group row">
              <div class="col-md-3">
                <b for="Screen">Link Type</b>
              </div>
              <div class="col-md-9">
                <label class="radio-inline"><input type="radio" value="" [(ngModel)]="pageLinkObj.linkType"
                    name="routeOption" (ngModelChange)="changeLinkDetails('none')" checked>None</label>
                <label class="radio-inline"><input type="radio" value="internal" [(ngModel)]="pageLinkObj.linkType"
                    (ngModelChange)="changeLinkDetails('internal')" name="routeOption">Internal</label>
                <label class="radio-inline"><input type="radio" value="external" [(ngModel)]="pageLinkObj.linkType"
                    (ngModelChange)="changeLinkDetails('external')" name="routeOption">External</label>
              </div>
            </div>
            <div class="form-group row" *ngIf="pageLinkObj.linkType == 'external'">
              <br>
              <label class="BoldText" for="externalURL">External URL</label>
              <input type="text" class="form-control" name="externalURL" id="externalURL"
                [(ngModel)]="pageLinkObj.externalURL" placeholder="Enter your external link url">
            </div>
            <div class="form-group row" *ngIf="pageLinkObj.linkType == 'internal'">
              <br>
              <label class="BoldText" for="internal">Internal Page</label>
              <select class="form-control" name="iternalOptions" [(ngModel)]="pageLinkObj.internalURL"
                (ngModelChange)="changeLinkDetails('internalPage')" id="internalURL">
                <option value="null" selected>none</option>
                <ng-container *ngFor="let screenObj of screenArrayByProjectId">
                  <option
                    *ngIf="!screenObj.isTemplate && screenObj._id != screen_id && screenObj.screenOption != 'popupmodal'"
                    [ngValue]="screenObj">
                    <span>{{ screenObj.screenName }}</span>
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="form-group row" *ngIf="pageLinkObj.internalURL && pageLinkObj.isDynamic">
              <ng-container
                *ngIf="!pageLinkObj.paramEntity && pageLinkObj.selectedEntity && pageLinkObj.selectedEntity.name; else selectParamEntity">
                <span><b>Entity Name</b></span>:&nbsp;&nbsp;
                <span>{{pageLinkObj.selectedEntity.name}}</span>
              </ng-container>
              <ng-template #selectParamEntity>
                <label for="paramEntity">Entity</label>
                <select class="form-control" name="paramEntity" [(ngModel)]="pageLinkObj.paramEntity"
                  (ngModelChange)="changeLinkDetails('paramEntity')" id="paramEntity">
                  <option value="null" selected>none</option>
                  <ng-container *ngFor="let entityElement of entityData">
                    <option [ngValue]="entityElement">
                      <span>{{ entityElement.name }}</span>
                    </option>
                  </ng-container>
                </select>
              </ng-template>
            </div>
            <div class="row"
              *ngIf="pageLinkObj.internalURL && 
            ((pageLinkObj.selectedEntity && pageLinkObj.selectedEntity._id) || pageLinkObj.paramEntity || !pageLinkObj.isDynamic)">
              <button class="btn btn-primary" (click)="addLinkParams()">Add Query Params</button>
            </div>
            <br>
            <div class="parentScroll">
              <div class="row paramsDiv" *ngFor="let element of pageLinkObj.paramArray; let i=index">
                <div class="col-md-5">
                  <label for="paramName">Param Name</label>
                  <input type="text" class="form-control" name="paramName{{i}}" [(ngModel)]="element.name">
                </div>
                <div class="col-md-5">
                  <label for="entityfield">Param Value</label>
                  <ng-container *ngIf="!pageLinkObj.isDynamic; else dynamic">
                    <input type="text" class="form-control" name="entityfield{{i}}" [(ngModel)]="element.fieldName">
                  </ng-container>
                  <ng-template #dynamic>
                    <select class="form-control" name="entityfield{{i}}" [(ngModel)]="element.fieldName"
                      id="entityfield">
                      <option value="null" selected>none</option>
                      <ng-container *ngFor="let entityElement of pageLinkObj.entityField">
                        <option [ngValue]="entityElement.name">
                          <span>{{ entityElement.name }}</span>
                        </option>
                      </ng-container>
                    </select>
                  </ng-template>
                </div>
                <div class="col-md-2 trashDiv">
                  <i class="fa fa-trash fa-2x trash" aria-hidden="true" (click)="removeLinkParams(i)"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-primary button-create" (click)="saveLinkDetails()">ok</button>
          <button type="button" class="btn btn-danger button-close" (click)="onCloseLink()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- entity and its field div popup model -->
<div *ngIf="isFieldPopupModal" id="modalDiv" class="modal" tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3">
            <button type="button" class="close" (click)="onCloseModel()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>      
          <div class="form-group row">
            <label for="fields">fields</label>
            <select class="form-control" id="fields"  name="entityFields" [(ngModel)]="entityFields.entityfieldname" (ngModelChange)="onChangeentityfield()" >
              <option *ngFor="let field of fields " [value]="field.name" >
                {{ field.name }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group fieldpopbtn">
          <button type="button" class="btn button-close" (click)="onCloseModel()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Route popup model -->
<div *ngIf="isCustomPopup" id="customModal" class="modal" tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{customPopupModal.title}}</h4>
      </div>
      <div class="container">
        <form class="m-3">
          <div class="form-group row">
            <b for="Screen">{{customPopupModal.dropdownLabelName}}</b>
            <select class="form-control" name="screenOptions" [(ngModel)]="routeDetails.screen"
              (ngModelChange)="customModelChanged($event)" id="Screen">
              <option value="" selected>none</option>
              <ng-container *ngFor="let screenObj of screenArrayByProjectId">
                <ng-container *ngIf="customPopupModal.entity; else routes">
                  <option
                    *ngIf="!screenObj.isTemplate && screenObj._id != screen_id && screenObj.screenOption == 'popupmodal'"
                    [ngValue]="screenObj">
                    <span>{{ screenObj.screenName }}</span>
                  </option>
                </ng-container>
                <ng-template #routes>
                  <option
                    *ngIf="!screenObj.isTemplate && screenObj._id != screen_id && screenObj.screenOption != 'popupmodal'"
                    [ngValue]="screenObj">
                    <span>{{ screenObj.screenName }}</span>
                  </option>
                </ng-template>
              </ng-container>
            </select>
            <small id="emailHelp" class="form-text text-muted">Please Select your screenName <span
                *ngIf="customPopupModal.entity; else routes">as Popup Modal</span>
              <ng-template #routes>for Routes</ng-template>
            </small>
          </div>
          <div class="row" *ngIf="customPopupModal.entity && routeDetails.screen">
            <br>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4 style="text-align: center">{{routeDetails.screen.screenName}} Entity</h4>
              <small class="popupEntityHint" *ngIf="!routeDetails.modalInfo.entity">*Hint: this screen does not have any
                entities to map</small>
              <br>
              <span><b>Entity Name</b></span>:&nbsp;&nbsp;
              <span
                *ngIf="routeDetails.modalInfo.entity && routeDetails.modalInfo?.entity?.name; else noEntity">{{routeDetails.modalInfo?.entity?.name}}</span>
              <ng-template #noEntity>----</ng-template>
            </div>
          </div>
          <div class="row" *ngIf="customPopupModal.entity && routeDetails.screen">
            <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <b for="entityField">{{customPopupModal.entity.fieldLabelName}}</b>
              <select [disabled]="!routeDetails.modalInfo.entity || routeDetails.modalInfo.entity === 'null'"
                class="form-control" name="entityField" [(ngModel)]="routeDetails.modalInfo.fields" id="entityField">
                <option value="null" selected>none</option>
                <ng-container *ngFor="let fields of customEntityFields">
                  <option [ngValue]="fields">
                    <span>{{ fields.name }}</span>
                  </option>
                </ng-container>
              </select>
              <small class="form-text text-muted">Please Select your entity fields</small>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <b for="componentName">{{customPopupModal.entity.componentLabelName}}</b>
              <select [disabled]="!routeDetails.modalInfo.entity || routeDetails.modalInfo.entity === 'null'"
                class="form-control" name="componentName" [(ngModel)]="routeDetails.modalInfo.component"
                (ngModelChange)="customModelChanged($event, 'components')" id="componentName">
                <option value="null" selected>none</option>
                <ng-container *ngFor="let component of modalDroppedElements">
                  <option [ngValue]="component">
                    <span>{{ component.name }}</span>
                  </option>
                </ng-container>
              </select>
              <small class="form-text text-muted">Please Select your component name</small>
            </div>
          </div>

          <div class="row"
            *ngIf="routeDetails.modalInfo?.modalBindInfo?.length > 0  && routeDetails.screen && routeDetails.modalInfo.entity">
            <span class="showMapping" (click)='toggleMapping()'>
              <span *ngIf="!isMappingGrid; else hide">Show</span>
              <ng-template #hide>Hide</ng-template>
              Mapped Fields
            </span>
            <div class="mapperTable col-md-12 col-sm-12 col-lg-12 col-xs-12"
              [@openCloseMapping]="isMappingGrid ? 'openGrid': 'closeGrid'">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{routeDetails.modalInfo?.entity?.name}} Fields</th>
                    <th scope="col">Component Name</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let bindedInfo of routeDetails.modalInfo.modalBindInfo; let i=index">
                    <tr>
                      <th scope="row">{{i+1}}</th>
                      <td>{{bindedInfo.fieldName}}</td>
                      <td>{{bindedInfo.componentName}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

          </div>
          <!-- flow screens -->
          <div class="form-group row" *ngIf="routeDetails.screen._id && customPopupModal.typeLabelName">
            <b for="flowScreens">{{routeDetails.screen.screenName}} flowList</b>
            <select class="form-control" name="screenFlow" [(ngModel)]="routeDetails.screenFlow" id="screenFlow">
              <option value="" selected>none</option>
              <ng-container *ngFor="let flowObj of routeDetails.screen.flows_info">
                <option [ngValue]="flowObj">{{flowObj.flowName}}</option>
              </ng-container>
            </select>
          </div>
          <div class="row" *ngIf="customPopupModal.typeLabelName">
            <b>{{customPopupModal.typeLabelName}}</b>
          </div>
          <div class="row" *ngIf="customPopupModal.typeLabelName">
            <label class="radio-inline"><input type="radio" value="none" [(ngModel)]="routeDetails.type"
                name="routeOption" disabled>None</label>
            <label class="radio-inline"><input type="radio" value="queryParameter" [(ngModel)]="routeDetails.type"
                name="routeOption">Query Parameter</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-primary button-create"
            (click)="saveCustomPopupInfo(customPopupModal.name)">ok</button>
          <button type="button" class="btn btn-danger button-close" (click)="closeCustomPopup()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="publish-panel" class="panel-modal" style="display: none">
  <div class="modal-body">
    Confirm to publish all your changes on
    <div class="page-link-c">
      <a class="link page-link" href="http://ad8906c.grapedrop.com" target="_blank">
        ad8906c.grapedrop.com
      </a>
    </div>
    <div class="page-link-reminder">
      For all configurations about your domain visit
      <a class="link" href="https://grapedrop.com/settings/ad8906ca2d4d4fcfb0c99f0a11082f4d?t=domain" target="_blank">
        Project Settings
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-btn-confirm btn-publish" data-dismiss="modal">Publish</button>
    <button class="modal-btn-cancel" onClick="closeModal()">Cancel</button>
  </div>
</div>

<!-- select parent template popup model -->
<div id="template-panel" class="template-modal" style="display: none">
  <div class="modal-body">
    <h3>Select one of the template</h3>
    <br>
    <div class="form-group">
      <select id="inputTemplate" class="form-control">
        <option selected disabled>select</option>
        <option value="0">template1</option>
        <option value="1">template2</option>
        <option value="2">template3</option>
        <option value="3">template4</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-btn-confirm btn-template" data-dismiss="modal">confirm</button>
    <button class="modal-btn-cancel" onClick="closeModal()">Cancel</button>
  </div>
</div>

<!-- select child template popup model -->
<div id="templatepage-panel" class="template-modal" style="display: none">
  <div class="modal-body">
    <h3>Select one of the template</h3>
    <br>
    <div class="form-group">
      <select id="inputTemplatepage" class="form-control">
        <option selected disabled>select</option>
        <option value="0">create_page</option>
        <option value="1">update_page</option>
        <option value="2">delete_page</option>
        <option value="3">search_page</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-btn-confirm btn-templatepage" data-dismiss="modal">confirm</button>
    <button class="modal-btn-cancel" onClick="closeModal()">Cancel</button>
  </div>
</div>

<!-- data binding popup model -->
<div id="databinding-panel" class="databinding-modal" style="display: none">
  <div class="modal-body">
    <br>
    <h4>Data Bindings</h4>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="Attributes">Attributes:&nbsp;</label>
        <select id="Attributes" class="form-control" style="width:110%">
          <option selected>None</option>
          <option value="name">name</option>
          <option value="age">age</option>
        </select>
      </div>
    </div>
    <br>
    <h4>Verb Bindings</h4>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="EventBind">Event</label>
        <select id="EventBind" class="form-control" style="width:110%">
          <option selected disabled>Choose an event</option>
          <option value="CLICK">CLICK</option>
          <option value="KEY_DOWN">KEY_DOWN</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="VerbBind">Verb</label>
        <select id="VerbBind" class="form-control" style="width:110%">
          <option selected disabled>Choose an verb</option>
          <option value="None">None</option>
          <option value="Save">Save</option>
          <option value="Update">Update</option>
          <option value="Delete">Delete</option>
          <option value="Search">Search</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-btn-confirm btn-dataBind" data-dismiss="modal">create</button>
    <button class="modal-btn-cancel" onClick="closeModal()">Cancel</button>
  </div>
</div>



<!-- entering folderName before saving the page popup model -->
<div id="saveProject-panel" class="saveProject-modal" style="display: none">
  <div class="modal-body">
    <h3>Page Details</h3>
    <br>
    <div>
      <div class="form-group">
        <label for="folderNameID">folderName:</label> &nbsp;
        <input type="text" class="form-control" id="folderNameID" placeholder="Enter your Folder Name">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-btn-confirm btn-saveProject" data-dismiss="modal">confirm</button>
    <button class="modal-btn-cancel" onClick="closeModal()">Cancel</button>
  </div>
</div>



<!-- enter folderName before generate angular application popup model -->
<div id="projectDetails-panel" class="projectDetails-modal" style="display: none">
  <div class="modal-body">
    <h3>Project Details</h3>
    <br>
    <div>
      <form>
        <label for="fname">ProjectName</label>
        <input type="text" id="projectNameID" name="projectname" placeholder="Enter your Project Name">
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-btn-confirm btn-projectDetails" data-dismiss="modal">confirm</button>
    <button class="modal-btn-cancel" onClick="closeModal()">Cancel</button>
  </div>
</div>


<div style="display: none;">
  <div class="gjs-assets-switch" id="assets-switch">
    <div class="gjs-field gjs-field-select">
      <div class="gjs-input-holder" style="width: 100%;">
        <select class="assets-switch form-control" data-toogle="assets-switch">
          <option value="">Project&#039;s Images</option>
          <option value="all">All Images</option>
          <option value="library">Free Images by Unsplash</option>
        </select>
      </div>
      <div class="gjs-sel-arrow">
        <div class="gjs-d-s-arrow"></div>
      </div>
    </div>
    <div class="gjs-assets-switch-opt" id="unsplash-opt">
      <div class="gjs-field" style="display: flex">
        <i class="fa fa-search gjs-field-icon" aria-hidden="true"></i>
        <input placeholder="eg. man office" type="url" data-unsplash-search>
      </div>
    </div>
  </div>

  <div class="gjs-assets__icon-search" id="assets-icon">
    <div class="gjs-field" style="display: flex">
      <i class="fa fa-search gjs-field-icon" aria-hidden="true"></i>
      <input type="search" placeholder="eg. alert" data-icon-search>
    </div>
  </div>

  <div class="gjs-blocks-switch" id="blocks-switch">
    <div class="gjs-field gjs-field-select">
      <div class="gjs-input-holder" style="width: 100%;">
        <select class="blocks-switch form-control" data-toogle="blocks-switch">
          <option *ngFor="let blocks of blocksOption" value="{{blocks.value}}">{{blocks.option}}</option>
        </select>
      </div>
      <div class="gjs-sel-arrow">
        <div class="gjs-d-s-arrow"></div>
      </div>
    </div>
  </div>
</div>